.headerRowContentContainer--global__header--vitrina{
    justify-content: center;
}

.headerRowContainer--global__header--vitrina {
    background-color: bisque;
    /* padding: 0 16px 0 16px; */
    max-width        : 91rem;
}