.triggerContainer--home__shelf {
    height          : 100%;
    border-radius   : 1rem;
    padding         : 1rem;
}

.paper--home__modal--cart {
    max-width : 50rem;
    min-width : 50rem;
    max-height: 25rem;
    min-height: 25rem;
}

/* @media (max-width: 769px) {

    .paper--home__modal--cart {
        max-width : 18rem;
        min-width : 18rem;
        max-height: 15rem;
        min-height: 15rem;
    }
 } */

.paper--home__modal--cart :global(.vtex-button) {
    border-radius: 2rem;
    height       : 2.2rem;
}