.title--home__casa {
    display        : flex;
    justify-content: flex-start;
    font-size      : 1.5rem;
}

.hover-b--action-primary{
    border: red !important;
    border-color: blueviolet !important;
    background-color: blueviolet !important;
}


/* .slide--home__casa :global(vtex-shelf-1-x-slide--home__casa) {
    border: red;
    border-color: blueviolet;
    background-color: blueviolet !important; 
} */

/* class="vtex-button bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-action-primary b--action-primary c-on-action-primary hover-bg-action-primary hover-b--action-primary hover-c-on-action-primary pointer w-100 " */

.b--action-primary, .bg-action-primary {
    background-color: red !important;
    border-color: red !important;
}