.triggerContainer--home__shelf {
    height       : 100%;
    border-radius: 1rem;
    padding      : 1rem;
}


/* MODAL LAYOUT */
.paper--home__modal--cart {
    max-width : 50rem;
    min-width : 50rem;
    max-height: 25rem;
    min-height: 25rem;
}

@media (max-width: 769px) {
    .paper--home__modal--cart {
        max-width : 40rem;
        min-width : 40rem;
        max-height: 20rem;
        min-height: 20rem;
    }
}

@media (max-width: 640px) {
    .paper--home__modal--cart {
        max-width : auto;
        min-width : 100%;
        max-height: auto;
        min-height: 100%;
    }
}

.paper--home__modal--cart :global(.vtex-button) {
    border-radius: 2rem;
    height       : 2.2rem;
}