.imageElement--global__slider--image {
    border-radius: 1rem;
    width        : 93.7rem;
}

.backToTopButtonActive :global(.vtex-button) {
    border-radius: 50%;
    bottom       : 2.5rem;
}

.backToTopButtonActive :global(.vtex-button__label) {
    height : 2.5rem;
    padding: 0.8rem;
}

/* modal layout */
.currencyContainer--modal__cart--price {
    color    : #db071e;
    font-size: x-large;
}

.price_sellingPriceLabel--modal__cart--price,
.price_listPriceContainer--modal__cart--price {
    display: none;
}

.productImageTag--cart__images--main {
    min-height: 15rem;
}