.link--home__link--vermas {
    background-color: #FAFAFA;
    border-color    : #FAFAFA;
}

.label--home__link--vermas {
    color           : #DB071E;
    text-transform  : none;
    background-color: #FAFAFA;
}