.label--home__link--vermas {
    color      : #db071e;
    white-space: nowrap;
}

/* FOOTER */
.label--footer__content--terminos {
    margin: 10px;
}

.label--footer__content--privacidad {
    margin-left: 10px;
}


.link--homeheader__shelf--title {
    outline        : none;
    text-decoration: none;
    display        : inline-block;
    color          : #2C2E30;
    font-size      : 1.6rem;
    font-style     : normal;
    font-weight    : bold;
    line-height    : 2rem;
}