.sliderLayoutContainer--global__home--slider {
    margin-top    : 1.5rem;
    margin-bottom : 1rem;
    padding-bottom: 1rem;
}

.caretIcon--global__home--slider {
    padding         : 5px;
    border-radius   : 50%;
    background-color: #db071e1a;
    color           : #db071e;
    border-color    : #db071e;
}

.caretIcon--global__home--slider:hover {
    background-color: #db071e;
    color           : rgb(242, 211, 216);
}

@media (min-width: 1800px) {
    .sliderArrows {
        display: none;
    }
}

@media (max-width: 640px) {
    .sliderArrows {
        display: none;
    }
    .sliderLayoutContainer--global__home--slider {
        margin-top    : 0.5rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

/* VITRINA */
.sliderLayoutContainer--home-products {
    justify-content: center;
}

/* boton tarjeta */
.sliderLayoutContainer--home-products :global(.vtex-button) {
    font-size    : 0.8rem;
    border-radius: 30rem;
}

/* PARA TODOS LOS BOTONES, GLOBAL */
:global(.vtex-button) {
    text-transform: none;
    white-space   : nowrap;
    border        : 1px solid #DB071E !important;
}

/* tarjeta */
.slide--home-products,
.slide--home-products--visible,
.slideChildrenContainer--home-products {
    max-width    : 13rem;
    border-radius: 30px;
}

@media (max-width: 440px) {

    .slide--home-products,
    .slide--home-products--visible,
    .slideChildrenContainer--home-products {
        max-width: 12rem;
    }
}

@media (max-width: 375px) {

    .slide--home-products,
    .slide--home-products--visible,
    .slideChildrenContainer--home-products {
        max-width: 11rem;
    }
}

@media (max-width: 374px) {

    .slide--home-products,
    .slide--home-products--visible,
    .slideChildrenContainer--home-products {
        max-width: 9.5rem;
    }
}

.sliderTrackContainer--home-products {
    display       : grid;
    max-width     : 93.7rem;
    padding-top   : 10px;
    padding-bottom: 10px;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}