.trigger--footer__trigger {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 90%;
    border: none;
    border-top: 1px solid #595959;
    /* padding: 0 1rem 0 1rem; */
}