.headerRowContentContainer--desktop__footer--content {
    height: 5rem;
}

/* footer */
.headerRowContentContainer--phone__footer--contentprivacidad {
    padding   : 1.7rem 2rem 1.5rem 0;
    margin-top: 2.5rem;
    box-shadow: 0px 2px 10px rgb(213, 211, 211);


}

.headerRowContentContainer--phone__footer--contenttermino {
    padding: 0 2rem 3rem 0;
}