.headerRowContentContainer--desktop__footer--content {
    height    : 5rem;
    box-shadow: 0px 2px 10px rgb(213, 211, 211);
    margin-top: 10px;
    min-width : 100%;
}

.headerRowContentContainer--phone__footer--contentprivacidad {
    padding   : 1.7rem 2rem 1.5rem 0;
    margin-top: 2.5rem;
    box-shadow: 0px 2px 10px rgb(213, 211, 211);
}

.headerRowContentContainer--phone__footer--contenttermino {
    padding: 0 2rem 2.5rem 0;
}

.headerRowContainer--desktop__footer--prefooter {
    max-width  : 93rem;
    margin-left: 20px;
}