/* .headerRowBackground--header__top {    
    background-color: #DB071E;
    height: 5rem;
   margin-bottom: 50px;
}

.flexCol--header__one--contacto{
    background-color: #DB071E !important;
}  */


/* :global(.vtex-flex-layout-0-x-flexRowContent) {
  background-color: #DB071E !important;

} */