.headerRowContentContainer--desktop__header--contact {
    background-color: #DB071E;
}

.headerRowContainer--desktop__header--contact {
    max-height: 1.8rem;
}

.headerRowContentContainer--desktop__header--contact {
    display: grid;
}