.headerRowContainer--desktop__header--contact {
    gap: 10px;
}

.headerRowContentContainer--desktop__header--contact {
    background-color: #DB071E;
    color           : white;
}

.headerRowContentContainer--desktop__header--utilities {
    background-color: #DB071E;
    max-height      : 4.8rem;
}

.headerRowContainer--desktop__header--contact {
    max-height: 1rem;
}

.headerRowContentContainer--desktop__header--contact {
    display: grid;
}

.headerRowContainer--desktop__header--utilities {
    color: rgb(231, 229, 229);
}
