/* .itemContainer--department {
    display: none;
}

.itemContainer--department:first-child {
    display: block;
}

.departmentLink {
    visibility: hidden;
}

.departmentLink::before {
    content: "ASEO";
    visibility: visible;
} */
