.autoCompleteOuterContainer--search {
   display         : flex;
   align-items     : center;
   background-color: white;
   border-radius   : 0.5rem;
   height          : 2.6rem;
   width           : 30rem;
   border-radius   : 0.8rem;
}

.autoCompleteOuterContainer--search :global(.vtex-input-prefix__group) {
   border: none;
}

.searchBarIcon--search--external-search {
   background-color: #fafafa;
   border          : none;
}

.searchBarContainer,
.searchBarInnerContainer--search {
   width        : 30rem;
   border-radius: 2rem;
}

.searchIcon--search {
   height: 1.5rem;
   width : 1.5rem;
}

@media (max-width: 769px) {

   .autoCompleteOuterContainer--search,
   .searchBarContainer,
   .searchBarInnerContainer--search {
      width: 15rem;
   }
}

.logoLink--desktop__header--logo {
   margin-bottom: 0.5rem;
   margin-right : 4%;
   margin-left  : 5%;
}