.logoLink--desktop__header--logo {
    min-width: 6rem;
    margin   : 1.3rem 3rem 2rem 2.5rem;
}

.searchBarContainer {
    max-width: 32rem;
}

.searchIcon--search {
    color: #DB071E;
}

.sizeDesktop {
    min-width: 1px;
    padding  : 6px;
}

