.headerRowContainer--desktop__header--contact {
    gap       : 10px;
    max-height: 1rem;
}

.headerRowContentContainer--desktop__header--contact {
    background-color: #DB071E;
    color           : white;
    min-width       : 100%;

}


.headerRowContentContainer--desktop__header--utilities {
    background-color: #DB071E;
    max-height      : 4.8rem;
    min-width       : 100%;
}

.headerRowContentContainer--desktop__header--address {
    background-color: #DB071E;
    max-height      : 4.8rem;
    min-width       : 100%;
}