.closeIcon--boton-cerrar {
    color: black;
}

.drawerContent--search__button--drawer {
    box-shadow: -4px 10px 6px rgb(238, 235, 235);
}

.closeIcon--boton__megamenu--cerrar {
    color: white;
}

@media (max-width: 640px) {
    .opened--megamenu__button--drawer {
        width    : 100% !important;
        max-width: 100% !important;
    }
}