.headerRowContentContainer--mobile__header--utilities {
    background-color: #DB071E;
    max-height      : 4.8rem;
}

.headerRowContainer--mobile__header--utilities {
    color: white;
}

.headerRowContentContainer--mobile__header--utilities :global(.vtex-button) {
    width: 2rem;
}

.headerRowBackground--megamenu__header--logo {
    background-color: #DB071E;
    max-height      : 4.8rem;
}
