.galleryTitle--layout {
    font-size: 1.5rem;
}

.filterPopupArrowIcon {
    padding-right: 0;
}

.orderByText {
    display: none;
}

.filter__container--ingredientes {
    display: none;
}

/* productos */
.totalProductsMessage {
    display: none;
}

.totalProducts--layout {
    padding  : 0;
    max-width: min-content;
    font-size: large;
}