.flexColChild--search__filter--container {
    margin-top      : 5rem;
    background-color: white;
    border-radius   : 1rem;
    box-shadow      : 0px 2px 12px rgb(226, 223, 223);
}

.flexCol--search__filter--container {
    min-width: 10rem;
}

@media (min-width: 768px) {
    .flexRow--desktop__search--content {
        margin: 0 2rem 0 2rem;
    }
}