.headerRowContentContainer--global__header--address {
    min-width: 100%;
}

.headerRowContentContainer--global__header--address {
    box-shadow: 0px 2px 10px rgb(213, 211, 211);
    height    : 2.5rem;
    min-width : 100%;
}

.headerRowContainer--global__header--address {
    justify-content: center;
}